<%- include('./partials/header.ejs') %>

<main id="home">
  <nav class="navbar">
    <h3>Meet Call</h3>
  </nav>
  <div class="container">
    <div class="main_join">
      <div class="action_rooms">
        <button class="btn action_rooms__btn" onClick="joinRoom()">JOIN ROOM</button>
        <button class="btn action_rooms__btn" onClick="createRoom()">CREATE ROOM</button>
      </div>

      <form action="/join-room" method="POST" class="form_join">
        <p>Join Room</p>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" required>
        <input type="text" class="form-control" name="roomId" id="roomId" placeholder="Code room meeting" maxlength="10" required>
        <button class="btn">JOIN</button>
      </form>
      
      <form action="/create-room" method="POST" class="form_create">
        <p>Create Room</p>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" required>
        <button class="btn">Create</button>
      </form>
    </div>
    <img class="home_image" src="img/undraw_video.svg" alt="">
  </div>

  <script src="form.js"></script>

<%- include('./partials/footer.ejs') %>